@charset "utf-8";

// https://github.com/metafizzy/flickity/issues/754
@import "~flickity/css/flickity.css";

// Import Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// More theme colors could be added here...
$primary: #2ca05aff;

$spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem);

$margin-default: map-get($spaces, "2") map-get($spaces, "0");

// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$link: hsl(171, 100%, 41%);

// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
.modal-card-body div.content {margin:$margin-default}

// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma"; 

// override specific bulma styles
.section {padding: 2.15rem 1.5rem}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end



// Collapsible
.collapsible {
  background-color: white;
  color: #363636;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #effdf5;
}

.collapsible:after {
  font-family: "Font Awesome 5 Free";
  content: '\f054';
  color: #363636;
  font-weight: 900;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\f078';
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f8fffb;
}

// Tooltips
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 
// Tables
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

.article-card {
  width: 100%;
}

.card{
  height: 100%;
}

.image-centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tile .notification {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.modal-close-button {
    @extend .button;
}

.flexy-carousel .flickity-slider {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.carousel {
    overflow: hidden;
  
    &::after {
      content: "flickity";
      display: none;
    }
  
    .flickity-cell.is-selected {
      position: absolute;
      inset: 0;
    }
}
  
.section-carousel {
    height: 512px;
}

.carousel-cell-middle{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  .section-carousel {
      height: 256px;
  }
}